<h1>Believe It Or Not I'm Blogging On Air</h1>
 
<!-- add this new code above the @posts.each loop -->
<% if !params[:author].blank? %>
  <% @posts = Post.where(author: params[:author]) %>
<% end %>
<!-- end new code -->
 
<% @posts.each do |post| %>
 
  ...
 
<% end %>